.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: white;
    box-shadow: 5px 5px 50px rgb(204, 204, 204);
    overflow: scroll;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s;
    h2 {
        padding: 2rem;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.library-songs {
    padding-top: 3em;
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    
    img {
        width: 30%;
    }
}

.library-song:hover {
    background: rgb(223, 223, 223);
}

.song-discription {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20%;
    border: transparent;
}

.selected {
    background: rgb(145, 198, 230);
    -webkit-box-shadow: inset 5px 5px 9px 1px rgba(0,0,0,0.5); 
    box-shadow: inset 5px 5px 9px 1px rgba(0,0,0,0.5);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

.dark-active {
    background: black;
    color: rgb(236, 236, 236);
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}