
nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
        border: 0;
        cursor: pointer;
        border: 2px solid;
        padding: 0.5rem;
        transition: all 0.3s ease;
        margin-left: 0.5em;

        svg {
            margin-left: 0.2rem;
        }
    }

    // Dark Theme
    .btn-dark {
        background: black;
        color: white;
        border-color: white;
        &:hover {
            background: white;
            color: black;
        }
    }

    // Light Theme
    .btn-light {
        background: white;
        color: black;
        border-color: black;
        &:hover {
            background: black;
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        .btn {
            border: 1px solid;
        }
        
    }
}